<p class="message">{{message}}</p>

<div class="link">
  <p class="picture"><img src="{{picture}}"></p>
  <h2><a href="{{link}}">{{name}}</a></h2>
  <p class="description">{{description}}</p>
</div>

<p class="stats">Likes: {{#with likes}}{{count}}{{/with}} – Comments: {{#with comments}}{{count}}{{/with}}</p>